.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.list__item {
  font-family: 'Retina', Arial, Helvetica, sans-serif;
  font-weight: 500;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.list__item__tel {
  margin-left: 8px;
  margin-right: 8px;
  font-weight: 700;
}

.button {
  position: relative;
  cursor: pointer;
  font-size: 0px;
  padding: 3px 3px;
  border: none;
  font-family: 'Retina', Arial, Helvetica, sans-serif;
  width: auto;
  height: auto;
  font-size: 19px;
  padding: 3px 19px;
  border-radius: 5px;
  color: #000;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 3px 2px 8px -1px #000000;
  box-shadow: 3px 2px 8px -1px #000000;
}

.button:hover {
  -webkit-box-shadow: 1px 2px 8px -1px #4a4a4a;
  box-shadow: 1px 2px 8px -1px #4a4a4a;
  background-color: rgb(5, 153, 155);
  transition: background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #fff;
}
